/*Joy Bradshaw 10/20/2020*/

/*My 4 questions*/

html {
    /* background-color: #eee; */
    background-color: #382a27;
}

h1 {
    text-align: center;
    /* color: #00be4f; */
    /* color: #382a27; */
    color: #ffe6a7;
}
h2 { color: black; }

p {
    text-align: justify;
    /* color: #00be4f; */
    /* color: #382a27; */
    color: #432818;
}

/*to make images flexible*/

img {
    max-width: 100%;
    /* height: auto; */
}

#outerwrapper {
    width: 90%;
    margin: 0 auto;
    padding: 0.5em 1.5em;
    background-color: #ffe6a7;
}